body{
    font-family: system-ui;
}

#container{
    display:flex;
    flex-direction: column;
    height:100%;
}

#logo{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:21px;
}

#navbar{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

#navlist{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.search{
    display:flex;
    align-items:center;
    margin-left: 25rem;
    margin-right: 25rem;
    border: 1px #000;
    border-style: solid;
    border-radius: 24px;
    padding:4px;
    height:30px;
}

.navitem{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.btn{
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
}

.sign-in {
    background-color: #1a73e8;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 23px;
    padding-right: 23px;
    color:white;
}

.apps{
    min-height: 30px;
    height: 30px;
    width: auto;
}

.sign-in:hover{
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 
    0 1px 3px 1px rgb(66 133 244 / 15%); 
}

.search-input{
    border:transparent;
    border:none;
    height:100%;
    flex-grow: 1;
    width:100%
}

.search-bar{
    width:100%;
    flex-grow: 1;
}

.search-input:focus{
    outline:none;
}